.container {
	height: fit-content;
	background-color: #b422e4;
	width: 100vw;
	margin: 0 auto;
	padding: 5vh 0;
	gap: 15vw;
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
}

.container div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100px;
	width: 20vw;
	color: #faf4fc;
}

.container h2 {
	font-size: 35px;
	margin: 5px 0;
}

.container h3 {
	margin: 5px 0;
	color: white;
	font-size: 24px;
	font-weight: 600;
}

.main {
	display: flex;
	width: 50vw !important;
	flex-direction: row !important;
	gap: 5vw;
}

@media (max-width: 1025px) {
	.container {
		gap: 5vw;
		height: fit-content;
	}
}

@media (min-width: 1920px) {
	.container {
		height: 40vh;
	}
}
