.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	height: 100vh;
}

.text {
	font-weight: 700;
	font-size: 60px;
	margin: 120px 0;
	background-image: linear-gradient(to right, #9f4cde, #c248b4, #e539ba);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}

.slider {
	display: flex;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	height: fit-content;
	width: 88vw;
	overscroll-behavior: contain;
}

.card img {
	width: 350px;
	border-radius: 20px;
}

.card {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 20px;
	padding: 30px;
	height: fit-content;
	color: #6f6e70;
	margin: 30px;
}

.card h4 {
	font-size: 24px;
}

@media (max-width: 1500px) {
	.card p {
		width: 0;
		font-size: 0;
	}

	.card h4 {
		font-size: 18px;
		font-weight: 700;
	}
}

@media (max-width: 1025px) {
	.text {
		margin-top: 30vh;
	}
	.main {
		height: 0;
	}
}
