body {
	background-color: #f6e9fa;
	overflow-x: hidden;
}

.App {
	width: 100vw;
	background-image: url('/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
}

button {
	cursor: pointer;
	transition: 0.3s;
}
