@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

body {
	background-color: #f6e9fa;
	overflow-x: hidden;
}

.App {
	width: 100vw;
	background-image: url('/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
}

button {
	cursor: pointer;
	transition: 0.3s;
}
