.mapDiv {
	display: flex;
	height: 100vh;
	margin: 20vh 0 20vh 0;
	align-items: center;
}

.h3 {
	color: #351654;
	font-size: 60px;
}

.castle {
	height: 70vh;
	width: 50vw;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 550px;
}

.menu p {
	color: #828183;
	font-size: 20px;
}

.text {
	background-image: linear-gradient(to right, #524f4f, #534153, #86856d);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	font-size: 22px;
	font-weight: 700;
	max-width: 700px;
	margin: 0 auto 0 auto;
	margin-bottom: 30px;
	padding: 0 5vw 0 5vw;
}

.text h1 {
	font-size: 40px;
	font-weight: 800;
}

.menu {
	display: flex;
	padding: 5px 0;
	justify-content: space-between;
}

.main button {
	margin-top: 20px;
	width: 300px;
	height: 70px;
	border-radius: 15px;
	border: none;
	background: linear-gradient(#db4ec8, #ca7bec);
	font-size: 24px;
	color: white;
	font-weight: 600;
}

@media (max-width: 1500px) {
	.main {
		height: 700px;
	}
	.mapDiv {
		flex-direction: column;
	}
	.castle {
		margin: 0 auto 0 auto;
		margin-bottom: 5vh;
	}
}

@media (max-width: 1025px) {
	.text {
		margin-top: 50vh;
		height: fit-content;
	}
}

@media (max-width: 1500px) {
	.castle {
		margin: 0;
		width: 0;
		height: 0;
	}
	.mapDiv {
		margin-bottom: 250px;
	}
}
