.h3 {
	background-image: linear-gradient(to right, #9f4cde, #c248b4, #e539ba);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	font-size: 60px;
}

.castle {
	height: 300px;
	width: 50vw;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 700px;
	border-radius: 20px;
}

.menu p {
	color: #fbfbfb;
}

.text {
	color: #828183;
	margin-bottom: 0px;
}

.menu {
	display: flex;
	padding: 5px 0;
	justify-content: space-between;
}

.main .button {
	margin-top: 20px;
	width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	border-radius: 15px;
	border: none;
	background: linear-gradient(#db4ec8, #ca7bec);
	font-size: 24px;
	color: white;
	font-weight: 600;
}

@media (max-width: 1500px) {
	.main {
		height: 700px;
	}
}

@media (max-width: 1025px) {
	.mapDiv {
		margin-top: 350px;
	}
}
